@font-face {
    font-family: ubuntu;
    src: url(../font/Ubuntu/Ubuntu\ Nerd\ Font\ Complete.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url(../font/Ubuntu/Ubuntu\ Bold\ Nerd\ Font\ Complete.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ubuntu;
    src: url(../font/Ubuntu/Ubuntu\ Italic\ Nerd\ Font\ Complete.ttf);
    font-weight: normal;
    font-style: italic;
}

@keyframes corazon {
    0% {}

    50% {
        transform: scale(1.3);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: ubuntu;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-width: 100%;
    min-height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40e0d0;
}

h1 {
    margin: 1em;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

h2 {
    margin: 1em;
    font-size: 2em;
}

.container {
    display: grid;
    grid-template-columns: auto;
    max-width: 500px;
    gap: 2em;
}

.img {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#corazon {
    color: red;
    font-size: 5em;
    margin: 0 0 1em 0;
    animation: corazon 0.5s infinite;
}

.regalo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    font-size: 1.5em;
}